.wrapper {
    width: 1000px;
    color: blue;
    margin: 0 auto;
    margin-bottom: 300px;
}
h1 {
font-size: 40px;
background: linear-gradient( rgb(247, 2, 2) -25%, rgb(180, 243, 5) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: sans-serif;
}

p {
    text-align: auto;
    width: 70%;
    margin: 0 auto;
    color: rgb(6, 112, 250)
}
.box {
    width: 250px;
    height: 110px;
    margin: 0 auto;
    background-color: red;
    align-content: center;
}